@{
    var head = "App Razor";
    var titulo = "Minha primeira aplicação Razor";
    var paragrafo1 = "Razor é uma forma de marcação do ASP.Net para linguagens de programação.";
    var paragrafo2 = "ASP. Net é uma plataforma de desenvolvimento de páginas dinÂmicas para criar aplicações web";

    string[] linguagens = { "C#", "Java", "PHP", "Python", "Visual Basic .Net", "TypeScript" };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@head</title>
</head>
<body>
    <div>
        <h1>@titulo</h1>   
        <p>@paragrafo1</p>
        <p>@paragrafo2</p>

        <h3>Linguagens de programação</h3>
        <ul>
            @foreach (var linguagem in linguagens)
            {
                <li>@linguagem</li>
            }
        </ul>
    </div>
</body>
</html>
